@mixin circle {
	&:before {
		content: "";
		position: absolute;
		width: 36px;
		height: 36px;
		background: $main-color;
		background: url('../icons/round.svg') no-repeat center/cover;
		left: 0;
		z-index: -1;
		top: -25%;
	}
}