.promo {
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 250px;
	background:
	url('../img/promo/parallax-4.png'),
	url('../img/promo/parallax-3.png'),
	url('../img/promo/parallax-2.png'),
	url('../img/promo/parallax-1.jpg');		
	background-repeat: no-repeat;
  background-position: 50% 50%;
	&__subtitle {
		position: relative;
		padding-left: 11px;
		z-index: 2;
		@include circle;
	}
	.title {
		width: 535px;
		color: #fff;
	}

	.title_fz48 {
		position: relative;
		margin-top: 10px;
	}
	&__btns {
		display: flex;
		justify-content: space-between;
		width: 250px;
		margin-top: 25px;
		align-items: center;
		position: relative;
	}
	&__link {
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		font-weight: bold;
		position: relative;
		&:hover {
			text-decoration: none;
		}
	}
}