.promo {
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 250px;
	background:
	url('../img/promo/parallax-5.png') 50% 50% no-repeat,
	url('../img/promo/parallax-4.png') 50% 50% no-repeat,
	url('../img/promo/parallax-3.png') 50% 50% no-repeat,
	url('../img/promo/parallax-2.png') 50% 50% no-repeat,		
	url('../img/promo/parallax-1.jpg') 50% 50%/cover no-repeat;		
	&__subtitle {
		position: relative;
		padding-left: 8px;
		z-index: 2;
		@include circle;
	}
	.title {
		width: 535px;
		color: #000;
	}

	.title_fz48 {
		position: relative;
		margin-top: 10px;
	}
	&__btns {
		display: flex;
		justify-content: space-between;
		width: 250px;
		margin-top: 25px;
		align-items: center;
		position: relative;
	}
	&__link {
		font-size: 14px;
		line-height: 21px;
		color: #000;
		font-weight: bold;
		position: relative;
		&:hover {
			color: #000;
		}
	}
}